body {
  background: #c2c2c2;
  background: url(http://images2.wikia.nocookie.net/__cb20110213010239/pokemon/images/1/17/Kanto_HGSS.png) fixed;
  background-size: cover;
  background-position: 50%;
  font-family: 'Oxygen', sans-serif;
}

a {
  text-decoration: none;
}

ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  margin: 0.67em 20px;
}
