// this mixin creates a normal,
// red and white pokeball if
// not supplied any parameters.

@mixin pokeball(

  $top: #ED1C1C,
  $bottom: #FFF,
  $anim: 5s,
  $btnShadow: $buttonShadow

) {

  // this is the "ball" , it uses a clever
  // radial gradient to do the colours

  width: 20px; height: 20px;
  border-radius: 100%;
  border: 1px solid #333;
  position: relative; display: inline-block;
  box-shadow: inset -3px 1px 1px rgba(0,0,0,0.2);

  background: radial-gradient( circle at top center, $top 45%, #555 46%, #555 52%, $bottom 53%);
  background-size: 200% 100%;
  background-position: 50%;

  transform-origin: center;
  animation: pokewobble $anim ease infinite forwards;

  // this is the "shadow" under the ball,
  // nothing too fancy here.

  &:before {
    content: ""; opacity: 0.3;
    position: absolute; bottom: -2px; left: 15%;
    width: 70%; height: 2px;
    border-radius: 50%; box-shadow: 0 0 2px 1px #000;
    background: #000; z-index: -1;

    transform-origin: center -10px;
    animation: pokeshadow $anim ease infinite forwards;
  }

  // this is the "button" for the ball.

  &:after {
    content: "";
    position: absolute; left: 50%; top: 50%;
    width: 4px; height: 4px; border-radius: 100%;
    margin-left: -3px; margin-top: 1px;
    background: white; border: 1px solid #333;
    box-shadow: $btnShadow;

    animation: pokeglow $anim ease infinite forwards;
  }

}
