.stats {
  &__item {
    box-sizing: border-box;
    position: relative;
    height: 30px;
    padding: 10px;
    border: 1px solid;
    margin-bottom: 10px;
    a {
      position: absolute;
      top: 50%;
      left: 12px;
      color: #fff;
      z-index: 99;
      transform: translateY(-50%);
    }
    span {
      position: absolute;
      top: 50%;
      right: 12px;
      color: #000;
      z-index: 99;
      transform: translateY(-50%);
    }
  }
  &__status {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    // padding: 5px 12px;
    background: red;
  }
}
