body {
  background: #c2c2c2;
}

a {
  text-decoration: none;
}

ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  margin: 0.67em 20px;
}

.pokemons {
  padding: 10px;
}

.pokemon {
  display: inline-block;
  width: 120px;
  padding: 10px;
  margin: 10px;
  background: #fff;
  &__heading {
    display: block;
    color: #000;
    text-align: center;
    &__id {
      color: #929292;
    }
    &__name {
      text-transform: capitalize;
    }
  }

  &__img {
    display: block;
    width: 120px;
    height: 120px;
    max-width: none;
    background: transparent none no-repeat 120px 120px;
    vertical-align: middle;
    background-image: url(../img/pokemons.jpg);

    // create the Pokemon unique classes
    $x: 0;
    $y: 0;

    @for $i from 1 through 151 {
      &--#{$i} {
        background-position: $x $y;
      }
      $x: $x - 120px;
      @if $x == -960px {
        $x: 0;
        $y: $y - 120px;
      }
    }
  }
}

.types {
  display: inline-block;
  width: 54px;
  line-height: 1;
  margin: 1px 0;
  border: 1px solid #aaa;
  padding: 3px 0;
  border-radius: 2px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px #333;
  text-transform: uppercase;
  &--poison {
    background: #a040a0;
    background-image: -webkit-linear-gradient(#a040a0,#803380);
    background-image: linear-gradient(#a040a0,#803380);
    border-color: #662966;
  }
  &--grass {
    background: #78c850;
    background-image: -webkit-linear-gradient(#78c850,#5ca935);
    background-image: linear-gradient(#78c850,#5ca935);
    border-color: #4a892b;
  }
  &--fire {
    background: #f08030;
    background-image: -webkit-linear-gradient(#f08030,#dd6610);
    background-image: linear-gradient(#f08030,#dd6610);
    border-color: #b4530d;
  }
  &--flying {
    background: #a890f0;
    background-image: -webkit-linear-gradient(#a890f0,#9180c4);
    background-image: linear-gradient(#a890f0,#9180c4);
    border-color: #7762b6;
  }
  &--water {
    background: #5d81d6;
    color: #fff;
  }
  &--bug {
    background: #909e1b;
    color: #fff;
  }
  &--normal {
    background: #7a7a57;
    color: #fff;
  }
  &--electric {
    background: #c4a526;
    color: #fff;
  }
  &--ground {
    background: #ad9551;
    color: #fff;
  }
  &--fairy {
    background: #d044d0;
    color: #fff;
  }
  &--fighting {
    background: #c03028;
    color: #fff;
  }
  &--psychic {
    background: #de4f7a;
    color: #fff;
  }
  &--rock {
    background: #857329;
    color: #fff;
  }
  &--steel {
    background: #9797ab;
    color: #fff;
  }
  &--ice {
    background: #87bfbf;
    color: #fff;
  }
  &--ghost {
    background: #5e4a80;
    color: #fff;
  }
  &--dragon {
    background: #7038f8;
    color: #fff;
  }
}

.moves {
  margin: 0 5px;
}

.abilities {
  margin: 0 5px;
}

.stats {
  &__item {
    padding: 10px;
    border: 1px solid;
  }
  &__status {
    height: 100%;
    background: red;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px 30px;
    transform: translate(-50%,-50%);
    background: #fff;
  }
  &__bg {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
  }
  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #fff;
    font-size: 2rem;
  }
}
